/* ----- POPPINS FONT Link ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --first--color: #1F232E;
    --text--color: #fff;
    --button--color: #00d9ff;
    --nav--bg--color:#00d9ff;
    --primary--color:#01050D;
    --nav--color:#282828;
}


/* ----- BASE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ----- SMOOTH SCROLL ----- */
html{
    scroll-behavior: smooth;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}


/* ---##-- REUSABLE CSS --##--- */

/* ----- GLOBAL BUTTON DESIGN ----- */
.btn{
    font-weight: 500;
    padding: 12px 20px;
    background:var(--button--color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}
.btn>i{
    margin-left: 10px;
}
.btn:hover{
    background: var(--primary--color);
}

/* ----- GLOBAL ICONS DESIGN ----- */
i{
    font-size: 16px;
   

}

/* ------- BASE -------- */

.container{
    width: 100%;
    height: 100vh;
    color: var(--text--color);
    position: relative;
}

/* ----- NAVIGATION BAR ----- */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--nav--color);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}
.nav-logo{
   position: relative;
   cursor: pointer;
}
.nav-name{
    font-size: 30px;
    font-weight: 600;
    color:var(--text--color);
}
.nav-logo span{
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: violet;
}
.nav-menu, .nav_menu_list{
    display: flex;
}
.nav-menu .nav_list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: var(--text--color);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}
.nav-menu-btn{
    display: none;
}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
}
.active-link{
    position: relative;
    color:violet;
    transition: .3;
}
.active-link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background:violet;
    border-radius: 50%;
}


/* ----- WRAPPER DESIGN ----- */
.wrapper{
    padding-inline: 8vw;
    background-color:#343131;
}

/* ----- FEATURED BOX ----- */
.featured-box{
    position: relative;
    display: flex;
    background-color: var(--primary--color);
    height: 100vh;
    min-height: 700px;
}

/* ----- FEATURED TEXT BOX ----- */
.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 112px;
}
.featured-text-card span{
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}
.featured-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--button--color);
    margin-block: 20px;
}
.typedText{
    text-transform: capitalize;
    color: var(--text-color-third);
}
.featured-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second);
}
.featured-text-btn{
    display: flex;
    gap: 20px;
}
.featured-text-btn>.blue-btn{
    background: var(--button--color);
    color: var(--color-white);
}
.featured-text-btn>.blue-btn:hover{
    background: var(--first-color-hover);
}
.social_icons{
    display: flex;
    margin-top: 5em;
    gap: 30px;
    
}
.icon{
    display: flex;
    justify-content: center;
    background-color: var(--button--color);
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(255, 255, 255, 0.944);
    cursor: pointer;
}
a{
    text-decoration: none;
}
.icon:hover{
    color: var(--nav--bg--color);
}

/* ----- FEATURED IMAGE BOX ----- */
.featured-image{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.image{
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.image img {
    width: 380px;
    height: 499px;
    object-fit: cover;
}
@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}
.scroll-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: var(--text-color-second);
    background: var(--button--color);
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(8, 216, 216, 0.25);
 }
 
 .scroll-btn i {
     font-size: 20px;
     background-color: var(--button--color);
 }
 
 /* Media query to hide the scroll button on small screens */
 @media (max-width: 768px) {
    .scroll-btn {
        display: none;
    }
 }
 

/* ----- MAIN BOX ----- */
.section{
    padding-block: 3em;
}
.row{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
}
.col{
    display: flex;
    width: 50%;
}

/* -- ## --- RESUABLE CSS -- ## -- */
.top-header{
    text-align: center;
    margin-bottom: 5em;
}
.top-header h1{
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 10px;
}
.top-header span{
    color: var(--text--color);
}
h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--button--color);
    margin-top: 36px;
    margin-bottom: 20px;
}

/* ----- ABOUT INFO ----- */
#about{
    background-color: #1F232E;
}
#projects{
    background:var(--primary--color);
}
#contact{
    background-color: #1F232E;
}

.about-info{
    position: relative;
    display: flex;
    margin: 50px auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    background:var(--primary--color);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;
}
.about-info p{
    text-align: center;
    font-size: 15px;
    justify-content: start;
    color: var(--text--color);
}
.about-btn button {
    position: absolute;
    right: 111px;
    height: 39px;
    width: 114px;
    bottom: 20px;
    background: var(--button--color);
    color: var(--text--color);
    border-radius: 15px;
}
.about-btn button:hover{
    background: var(--first-color-hover);
}

/* ----- ABOUT / SKILLS BOX ----- */
.skills-container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background-color:var(--primary--color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(104, 99, 99, 0.1);
}

.skills-box h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 21px;
    color: var(--button--color);
}

.skill {
    margin-bottom: 20px;
}

.skill span {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--text--color);
}

.progress-bar {
    width: 100%;
    background-color:var(--text--color);
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 20px;
    background-color: var(--button--color);
    text-align: right;
    padding-right: 5px;
    line-height: 20px;
    color: var(--text--color);
    border-radius: 10px 0 0 10px;
}
.top-header {
    text-align: center;
    margin: 20px 0;
}

.top-header h1 {
    font-size: 36px;
    color:var(--button--color);
}

/* .service */
/* General styles for the services section */
#services {
    position: relative;
    padding: 73px 0;
    color:var(--text--color);
    z-index: 1;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5; /* Adjust opacity to your preference */
}

#services h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5em;
    color:var(--nav--bg--color);
}

.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.service {
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s;
}

.service:hover {
    transform: translateY(-10px);
}

.service h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #fff;
}

.service p {
    margin: 0;
    color: #ddd;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .service-container {
        grid-template-columns: 1fr;
    }
}




/* ----- PROJECTS BOX ----- */
.project-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* gap: 20px; */
    flex-wrap: wrap;
}

.project-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32%;
    height: 300px;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--nav--color);
    overflow: hidden;
}

.project-box video {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.project-box h3 {
    font-size: 20px;
    color:var(--text--color);
    margin: 10px 0;
}

.project-box p {
    font-size: 15px;
    color: var(--text--color);
}

/* ----- CONTACT BOX ----- */
.contact-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 93%;
    height: 309px;
    background: var(--button--color);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
.contact-info>h2{
    color: var(--color-white);
    margin-bottom: 20px;
}
.contact-info>p{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    margin-block: 5px;
}
.contact-info p>i{
    font-size: 18px;
}
.contact-info::after{
    background: var(--color-white);
}
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i{
    color: #777;
    z-index: 2;
}

/* ----- CONTACT FORM ----- */
.form-control{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
}
.form-inputs{
    display: flex;
    gap: 10px;
    width: 90%;
}
.input-field{
    width: 50%;
    height: 55px;
    color: var(--nav--color);
    border: 2px solid var(--button--color);
    border-radius: 10px;
    padding-inline: 20px;
    outline: none;
}
textarea{
    width: 90%;
    height: 250px;
    color: var(--nav--color);
    border: 2px solid var(--button--color);
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
    resize: none;
}
.form-button>.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--button--color);
    color: var(--color-white);
}
.form-button>.btn:hover{
    background: var(--first--color);
}
.form-button i{
    font-size: 18px;
    rotate: -45deg;
}

/* ----- FOOTER BOX ----- */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: var(--primary--color);
    padding-block: 40px 60px;
}
.top-footer p{
    font-size: 25px;
    font-weight: 600;
}
.middle-footer .footer-menu{
    display: flex;
}
.footer_menu_list{
    list-style: none;
}
.footer_menu_list a{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    margin-inline: 20px;
}
.footer-social-icons{
    display: flex;
    gap: 30px;   
}
.bottom-footer{
    font-size: 14px;
    margin-top: 10px;
}


/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */
@media only screen and (max-width: 1024px){
    .featured-text{
        padding: 0;
    }
    .image, .image img{
        width: 320px;
        height: 320px;
    }
}

/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 900px) {
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        left: 0;
    }
    .nav-menu{
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }
    .nav_menu_list{
        flex-direction: column;
    }
    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .featured-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .featured-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }
    .social_icons{
        margin-top: 2em;
    }
    .featured-image{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }
    .image, .image img{
        width: 150px;
        height: 150px;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .col{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-info, .contact-info{
        width: 100%;
    }
    .project-container{
        justify-content: center;
    }
    .project-box{
        width: 80%;
    }

}

/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */

@media only screen and (max-width: 540px){
    .featured-name{
        font-size: 20px;
    }
    .project-box{
        width: 100%;
    }
    .form-inputs{
        flex-direction: column;
    }
    .input-field{
        width: 100%;
    }
}




